<%= form_with model: @animal, local: true do |form| %>
  
 
    <% if @animal.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@animal.errors.count, "error") %> prohibited
          this animal from being saved:
        </h2>
        <ul>
          <% @animal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    
    <p>
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true %>
    </p>
    
    <p>
      <%= form.label :credit %><br>
      <%= form.text_area :credit %>
    </p>
    
    <p>
      <%= form.submit %>
    </p>
  <% end %>